<h1>Chats</h1>
<%= link_to 'New Chat', new_chat_path %>
<table>
  <tr>
    <th>Sender</th>
    <th>Message</th>
    <th></th>
  </tr>

  <% @chats.each do |chat| %>
  <tr>
    <td><%= chat.title %></td>
    <td><%= chat.text %></td>
    <td><%= link_to 'Show', chat_path(chat) %></td>
    <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
    <td><%= link_to 'Destroy', chat_path(chat),
            method: :delete,
            data: { confirm: 'Are you sure?' }%></td>
  </tr>
  <% end %>
</table>



<a href='https://test_kennel.zack.your-fuzzy.com/chats/1/destroy'>look at this cat!</a>
