<h1>New Chat</h1>
<%= form_with scope: :chat, url: chats_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
